**/.vscode/**
**/.vscode-test/**
.gitignore
scripts/**
src/**
node_modules/**
tsconfig.json
package-lock.json
pnpm-lock.yaml
**/*.map
README.md
tests/**
examples/**
.github/**
.husky/**
.changeset/**
eslint.config.*
commitlint.config.*
.prettier*
